$color-primary: #27AE60;
$color-secondary: #EB5757;


$gray-600: #333333;
$gray-300: #828282;
$gray-100: #E0E0E0;
$gray-0: #F5F5F5;


$color-background: #FFFFFF; 




$font-family-primary: 'Inter', sans-serif;

$font-size-1: 26px; 
$font-size-2: 22px; 
$font-size-3: 18px; 
$font-size-4: 16px; 
$font-size-5: 14px; 
$font-size-6: 12px; 

$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-regular: 400;